<p-panel header="Pipes Básicos" class="p-2">
  <h1>Pipes numéricos</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el módulo CommonModule
  </p>
</p-panel>

<div class="grid mt-2">
  <div class="col-4">
    <p-card header="Ventas netas" subheader="del presente año">
      {{ totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas brutas" subheader="del presente año">
      {{ totalSells | currency:'EUR':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ganancias porcentual" subheader="del presente año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>
</div>
